/* ----------------------------------------------------
  
	File Name: style.css
	Template Name: Ultron
	Created By: Template Visual
	http://themeforest.net/user/templatevisual

	1. IMPORT
	2. SKELETON
	3. PORTFOLIO
	4. SHOP
	5. SECTION
	6. MODULES
	7. HEADER
	8. BLOG PAGE
	9. FOOTER
	10. SLIDESHOW
	11. COLORS
	12. RESPONSIVE
	13. OTHERS
	14. BOXED VERSION

------------------------------------------------------- */  

/* ----------------------------------------------------
	IMPORT	
------------------------------------------------------- */  

@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

/* ----------------------------------------------------
	SKELETON	
------------------------------------------------------- */  

	body {
		background: #fff;
		color: #535353;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: -0.3px;
		font-weight: 400;
		padding:0;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		font-weight:normal;
		text-transform: uppercase;
		line-height:1.8;
		color:#030303;
	}
	
	h1{
		font-size: 40px; 
	}
	
	h2{
		font-size: 30px; 	
	}
	
	h3{
		font-size: 18px; 
	}
	
	h4{
		font-size: 16px; 		
	}
	
	h5{
		font-size: 14px; 		
	}
	
	h6{
		font-size: 14px;  	
	}

	a {
		color:#696969;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		text-decoration:none !important; 
	}

	.customh4 {
		font-size: 30px;
		line-height: 50px;
		color:#030303;
		text-transform: none;
	}
	
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}
	
	.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}
	
	.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}
	
	::selection {
		background: #f84b4a; /* Safari */
		color:#fff;
	}
	
	::-moz-selection {
		background: #f84b4a; /* Firefox */
		color:#fff;
	}

	.border-radius {
		border-radius: 500px;
	}
	
	blockquote {		 
		font-size:16px;
		line-height: 32px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style:italic;	   
		position:relative;  
		width:auto;
	}

	blockquote small {
		display: block;
		margin-top: 20px;
	}
	
	pre {
		line-height:18px;
		margin-bottom:18px;
	}

	.btn,
	.pricing-box,
	a {
		outline:0 !important;
		text-decoration: none !important;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
	}

	a:hover,
	a:focus {
		color:#535353;
	}

	.demos a img {
		opacity: 1;
		margin-top:0;
		text-decoration: none !important;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
	}

	.demos {
		margin-bottom: 30px;
	}

	.demos h4 {
		letter-spacing: 0.1em;
		font-size: 18px;
	}

	.smalllight {
		color:#ffffff !important;
		font-style: italic;
	}

	.biglight {
		letter-spacing: 0.1em;
		font-size: 48px;
		margin-top: 30px;
		color:#ffffff;
	}

	.demos a img:hover {
		opacity: 0.6;
	}
	
	ins {
		text-decoration:none;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	p{
		padding:0 0 20px 0;
	}	

	.check li:before {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 16px;
		left: 0;
		color:#242424;
		padding-right:5px;
		position: relative;
		top: 2px;
	}

	.check li {
		font-size:14px;
		list-style:none;
		margin-bottom:4px;
	}

	.check {
		margin-left:0; 
		padding-left:0
	}
	mark {
		padding:0 0.2em;
		line-height: 1;
	}
	.italic {
		font-style: italic;
		font-size: 18px;
		line-height: 38px;
		letter-spacing: 1px;
	}

	.makeborder-top,
	.makeborder-bottom,
	.makeborder-right,
	.makeborder-left {
		background: #fff;
		position: fixed;
		z-index: 9999;
	}

	.makeborder-top {
		width: 100%;
		top: 0;
		left: 0;
		padding: 15px;
	}

	.makeborder-bottom {
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 15px;
	}

	.makeborder-left {
		width: 30px;
		left: 0;
		height: 100%;
	}

	.makeborder-right {
		width: 30px;
		right: 0;
		height: 100%;
	}

	.quote-post {
	    background: #f9f9f9 none repeat scroll 0 0;
	    padding: 20px;
	    position: relative;
	}
	.quote-post blockquote {
	    border-left: 0 none;
	}
	.quote-post::after {
	    content: "";
	    display: block;
	    font-family: "FontAwesome";
	    font-size: 41px !important;
	    opacity: 0.1;
	    position: absolute;
	    right: 3%;
	    top: 15%;
	}

	.drop-caps p:first-child::first-letter {
	    color: #030303;
	    display: block;
	    float: left;
	    font-family: Georgia;
	    font-size: 75px;
	    line-height: 60px;
	    margin-right: 10px;
	    margin-top: 5px;
	    padding: 4px;
	}

	.drop-caps.full p:first-child::first-letter {
	    background: #eae9e9 none repeat scroll 0 0 !important;
	    color: #030303;
	    margin-right: 15px;
	    padding: 20px;
	    font-size: 36px;
	    font-family: Lekton;
	}

	.yvideo {
		width:100%;
		border:1px solid #fafafa;	
	}
	.slidervideo {
		width:100%;
		height:100%;
	}
	
/* ----------------------------------------------------
	PORTFOLIO	
------------------------------------------------------- */  

	.share-post {
		margin-top: 40px;
		display: block;
		position: relative;
	}
	.share-post i {
		font-size: 31px !important
	}
	.share-post .share {
		margin-top: 10px;
	}
	.share-post h4 {
		font-size: 18px;
		vertical-align: super;
		display: inline-block;
		margin-right: 20px;
	}
	.single-portfolio-sidebar h3 {
		padding-top:0;
		margin-top: 0
	}

	.portfolio-filter {
		list-style: none;
		padding: 0;
		margin: 20px auto 50px;
		display: block;
		position: relative;
		cursor: default;
	}

	.portfolio-filter ul li {
		text-transform: uppercase;
		font-weight: 400;
	}

	.portfolio-filter ul li:after {
		content: "/";
		padding:0 0 0 15px;
		color:#aaaaaa;
	}

	.portfolio-filter ul li:last-child:after{
		display: none !important;
	}

	.portfolio-filter ul li a {
		color:#aaaaaa;
		letter-spacing: 2px;
	}
	.faqsfilter ul li a,
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		color:#030303 !important;
	}
	.faqsfilter ul li a {
		font-size: 18px;
		font-weight: 400;
	}
	.portfolio-filter ul {
		list-style: none;
		padding-left: 0 !important;
	}

	#fourcol .box img {
		width: 100%;
		padding:0 10px 10px 0
	}

	.nopaddingtop,
	.nopaddingbottom .box img {
		padding: 0!important;
	}

	.nopaddingbottom .magnifier {
		 bottom:0 !important;
		 right: 0 !important;
	}

	.magnifier i {
		color:#030303 !important;
		width: 40px;
		height: 40px;
		line-height: 38px;
		border:1px solid #030303;
		border-radius: 40px;
	}

	.item-h2,
	.item-h1 {
		height: 100% !important;
		height: auto !important;
	}

	.isotope-item {
	  z-index: 2;
	  padding:0;
	}

	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}

	.isotope,
	.isotope .isotope-item {
	  /* change duration value to whatever you like */
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.8s;
	          transition-duration: 0.8s;
	}

	.isotope {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	          transition-property: height, width;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	          transition-property:         transform, opacity;
	}

	.portfolio {
		position: relative;
		margin: 0 auto;
		padding-bottom: 0;
		list-style: none;
		text-align: center;
	}

	.entry {
		position:relative;
		padding:0 !important;
		margin-bottom:0;
	}

	.entry img {
		width:100%;
	}

	.magnifier {
		position:absolute;
		top:0;
		background-color: rgba(223,74,67,0.9);
		left:0;
		bottom:0;
		right:0;
		z-index: 1;
		zoom: 1;
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
	}

	#fourcol .magnifier {
		 bottom:10px;
		 right: 10px;
	}

	.teammembers:hover {
		cursor: pointer;
	}

	.teammembers .magnifier p {
		padding-bottom: 10px;
	}

	.teammembers:hover .magnifier,
	.entry:hover .magnifier {
		zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1;
	}

	.visible-buttons{
		visibility: hidden;
		margin: 0 auto;
		opacity: 0;
		position: absolute;
		text-align: center;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
		bottom:0;
		left:0;
		right: 0;
		position: absolute;
		text-align: center;
	}

	.visible-buttons p {
		font-style: italic;
		color:#545454;
	}

	.visible-buttons h4 {
		padding:0;
		margin:0;
		font-size: 18px;
		letter-spacing: 2px;
	}

	.visible-buttons h4 a {
		color:#030303;
	}

	.teammembers:hover .visible-buttons,
	.entry:hover .visible-buttons {
		margin-bottom: -20px;
		opacity: 1;
		bottom:35%;
		visibility: visible;
	}

	.entry:hover .border-radius .visible-buttons {
		bottom: 44%;
	}

	.entry:hover .border-radius .visible-buttons h4 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.entry:hover .border-radius .visible-buttons  .social a {
		margin: 0 !important;
	}

	.teambuttons p {
		padding:0 30px 20px;
		color:#030303 !important;
	}

	.teambuttons a {
		margin: 0 15px;
		color:#030303 !important;
	}

	.teamdesc {
		padding:30px;
		background-color: #eae9e9;
	}

	.teamdesc2 {
		background-color: #ffffff;
	}

	.teamdesc h4 {
		padding:0;
		margin: 0;
		font-size: 18px;
		letter-spacing:2px;
	}

	.teamdesc p {
		font-style: italic;
		color:#545454;
		padding-bottom: 0;
	}

	.teamdesc2 p {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.darkmagnifier small {
		color:#ffffff;
		font-size: 24px;
	}
	.darkmagnifier .visible-buttons {
		bottom:50% !important;
	}

	#withdesc .box {
		padding:15px !important
	}

	#withdesc .box .darkmagnifier {
		top:15px;
		left: 15px;
		bottom:15px;
		right:15px !important;
	}

	#withpagination .visible-desc h4 a,
	#withpagination .visible-desc h4,
	#withdesc .visible-desc h4 a,
	#withdesc .visible-desc h4 {
		font-size: 18px;
		color:#030303;
		letter-spacing: 0.1em;
		padding-top:20px;
		padding-bottom: 0;
	}

	#withpagination .box {
		margin-bottom: 30px;
	}

/* ----------------------------------------------------
	SHOP	
------------------------------------------------------- */  
	
	.shop_bg {
	  background: url(upload/shop_bg.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.landing_bg {
	  background: url(upload/landing.png) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.shop_bg {
		padding:20rem 0 4rem !important;
	}

	#shop-layout .box {
		margin-bottom: 30px;
	}

	.shop-title h4 {
		font-size: 24px;
		margin-top: 0;
		padding-top: 0;
		letter-spacing: 0.2em;
		text-transform: none;
	}

	.shop-title p {
		font-size: 30px;
		font-family: Abel;
		padding-top:20px;
		color:#030303;
	}

	.rating i {
		color:#030303;
		font-size: 18px;
		margin: -2px;
	}

	.shopbuttons strong {
		font-family: Abel;
		font-size: 16px;
		color:#030303;
		letter-spacing: 0.1em;
	}
	.shopbuttons p {
		font-size: 16px;
	}

	.sp-quantity {
	    width:140px;
	    height:42px;
	    line-height: 38px;
	}

	.sp-minus {
	    width:39px;
	    height:42px;
	    border:1px solid #eae9e9;
	    float:left;
	    text-align:center;
	}

	.sp-input {
	    width:39px;
	    height:42px;
	    border:1px solid #eae9e9;
	    background-color: #eae9e9;
	    border-left:0px solid black;
	    float:left;
	}

	.sp-plus {
	    width:43px;
		color:#030303 !important;
	    height:42px;
	    border:1px solid #eae9e9;
	    border-left:0px solid #eae9e9;
	    float:left;
	    text-align:center;
	}

	.sp-input input {
	    border: medium none;
	    color: #242424;
	    font-size: 12px;
	    height: 34px;
	    background-color: #eae9e9;
	    line-height:36px;
	    text-align: center;
	    width: 40px;
	}

	.sp-input input:focus {
	    border:1px solid #e6e7e9;
	    border: none;
		background-color: #eae9e9 !important;
	    border:0 !important;
	}

	.sp-minus a, .sp-plus a {
	    color: #030303;
	    background-color: #eae9e9;
	    display: block;
	    font-size: 18px;
	    height: 100%;
	    text-decoration: none;
	    width: 100%;
	}

	.single-shop-image {
	}

	.single-shop-image img {
		width: 100%;
	}
	div.thumbnails{padding-top:10px;zoom:1}
	div.thumbnails span img{border:1px solid #f7f7f7;float:left;width:30.33333%!important;margin:5px;}
	#shop-content h3 {
		font-size: 30px;
		letter-spacing: 0.1em;
	}
	#shop-content label {
	    color: #030303;
	    font-family: Abel;
	    font-size: 14px;
	    font-weight: 400;
	    letter-spacing: 0.2em;
	}

	#shop-content .form-control {
		border-color:#f0f0f0;
		margin:10px 0 20px;
		height: 45px;
	}
	#shop-content textarea {
		border-color:#f0f0f0;
		margin:10px 0 20px;
		min-height: 145px;
	}
	.shoptable .table > thead > tr > th {
	    background: #0b0b0b none repeat scroll 0 0;
	    color: #fff !important;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	}
	.shoptable img {
	    margin: 0 30px 0 0;
	    max-width: 80px;
	}
	.shoptable .table > tbody > tr > td, .shoptable .table > tbody > tr > th, .shoptable .table > tfoot > tr > td, .shoptable .table > tfoot > tr > th, .shoptable .table > thead > tr > td, .shoptable .table > thead > tr > th {
	    color: #0b0b0b;
	    font-family: Abel;
	    padding: 20px;
	    font-size: 16px;
	    letter-spacing: 0.1em;
	    font-weight:400;
	}
	.shop-widget img {
	    max-width: 50px;
	}
	.shop-widget .rating i {
	    font-size: 11px;
	    margin: 0 !important;
	}
	.shop-widget .alignleft {
	    margin: 0 20px 0 0;
	}
	.shop-widget li {
	    display: inline-block;
	    margin-bottom: 14px !important;
	    width: 100%;
	}
	#shop-tab {
	    margin-top: 90px;
	}
	#shop-tab .tab-content > .tab-pane {
	    border-bottom: 1px solid #ddd;
	    border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	    padding: 20px;
	}
	.totalprice ul {
		list-style: none;
		padding:30px 0;
	}

	.totalprice li {
		letter-spacing: 0.1em;
		font-size: 16px;
	}

	#payment .custom2  {
		display: block;
		background-color: #fcfcfc;
		padding:10px 20px;
		margin-top:20px;
		color:#8e8e8e;
		font-size: 14px;
		font-weight: 400;
	}

	#payment label {
		margin-bottom:30px;
		font-family: Abel;
		color:#030303;
		letter-spacing: 0.15em;
	}

	.shopform .form-control::-moz-placeholder {
	  color: #535353;
	  opacity: 1;
	}
	.shopform .form-control:-ms-input-placeholder {
	  color: #535353;
	}
	.shopform .form-control::-webkit-input-placeholder {
	  color: #535353;
	}

	.checkbox input {
		background-color: #f0f0f0;
	}

	.box2 .price small {
		background-color: #eae9e9;
		padding: 10px 20px;
		border:1px solid #ecf0f1;
		min-width: 120px;
		display: inline-block;
	}
	.box2 .price span {
		background-color: #fff;
		padding: 10px;
		text-align: left;
		display: inline-block;
	}

	.box2 .form-control {
	  font-family: Abel;
	  font-style: normal;
		color: #030303;
	}
	.box2 .form-control::-moz-placeholder {
	  color: #030303;
	  opacity: 1;
	}
	.box2 .form-control:-ms-input-placeholder {
	  color: #030303;
	}
	.box2 .form-control::-webkit-input-placeholder {
	  color: #030303;
	}

/* ----------------------------------------------------
	SECTIONS	
------------------------------------------------------- */  

	.about_bg {
	  background: url(upload/about_bg.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	#animate-area { 
	    background-image: url(upload/animatebg.jpg);
	    animation: animatedBackground 666s linear infinite;
	    -moz-animation: animatedBackground 666s linear infinite;
	    -webkit-animation: animatedBackground 666s linear infinite;
	    -ms-animation: animatedBackground 666s linear infinite;
	    -o-animation: animatedBackground 666s linear infinite;
	}

	@keyframes animatedBackground {
	    0% { background-position: 0 0; }
	    100% { background-position: -31000px 0; }
	}
	@-moz-keyframes animatedBackground {
	    0% { background-position: 0 0; }
	    100% { background-position: -31000px 0; }
	}
	@-webkit-keyframes animatedBackground {
	    0% { background-position: 0 0; }
	    100% { background-position: -31000px 0; }
	}
	@-ms-keyframes animatedBackground {
	    0% { background-position: 0 0; }
	    100% { background-position: -31000px 0; }
	}
	@-o-keyframes animatedBackground {
	    0% { background-position: 0 0; }
	    100% { background-position:-31000px 0; }
	}

	.general-content {
	    display: table;
	    height: 100%;
	    left:15%;
	    position: relative;
	    text-align: left;
	    width: 100%;
	}
	.general-text {
	    display: table-cell;
	    height: 100%;
	    vertical-align: middle;
	}

	.home-text-wrapper{
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.home-content{
		position: relative;
	}
	.home-message{
		display: table-cell;
		height: 100%;
		vertical-align: middle;
	}

	.light-color .services-1 i,
	.light-color .services-1 h4,
	.light-color h2 {
		color:#ffffff;
	}

	.light-color .services-1 p {
		color:#e7e7e7 !important;
	}

	.service-2 h4 {
		font-size: 24px;
		text-transform: none
	}

	.service-2 .count {
		font-size: 18px;
		color:#fff;
		background: #030303;
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		display: block;
		margin: 0 auto 20px;
		border-radius: 48px;
	}

	.clients {
		background-color: #eae9e9;
		padding:60px 0;
		display: block;
		position: relative;
	}

	#owl-client .image-center img {
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	  filter: alpha(opacity=20);
	  opacity: 0.2;
	  cursor: pointer;
	  		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
	}

	#owl-client .image-center:hover img {
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: alpha(opacity=100);
	  opacity: 1;
	}

	.section {
		padding:160px 0;
		position: relative;
		display: block;
		z-index: 10;
		overflow: hidden;
		margin: 0;
	}

	.relative {
		z-index: 11;
		position: relative;
	}
	.overlay{
		position: absolute;
		top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	z-index: 10;
		background-color: #030303;
		background-color: rgba(3, 3, 3, 0.7);
	}
	.lightoverlay{
		position: absolute;
		top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	z-index: 10;
		background-color: #030303;
		background-color: rgba(255, 255, 255, 0.7);
	}
	.newsletter .btn-wrapper {
		margin-top: 30px;
	}
	.light {
		background-color:#fff;
	}
	.newsletter .form-inline .form-control {
	    border-color: #fff;
	    border-radius: 10px;
	    box-shadow: none !important;
	    display: inline-block;
	    height: 41px;
	    min-width: 320px;
	    font-style: italic;
	    padding-left: 20px;
	    margin:0 20px 0 0;
	    vertical-align: middle;
	    width: auto;
	}
	.form-control:focus {
	  border-color: #f9f9f9 !important;
	  outline: 0;
	  box-shadow: none;
	  background-color: #f9f9f9;
	}
	.form-control::-moz-placeholder {
	  color: #aaa;
	  opacity: 1;
	}
	.form-control:-ms-input-placeholder {
	  color: #aaa;
	}
	.form-control::-webkit-input-placeholder {
	  color: #aaa;
	}
	.form-control {
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #eae9e9;
	    border-radius: 4px;
	    box-shadow: none;
	    color: #d2d2d2;
	    display: block;
	    font-size: 14px;
	    font-style: italic;
	    height: 55px;
	    line-height: 1.42857;
	    margin-bottom: 36px;
	    padding: 6px 12px;
	    width: 100%;
	}
	.newsletter,
	.tagline {
		padding:100px 0;
		position: relative;
		display: block;
		z-index: 10;
		overflow: hidden;
		margin: 0;
	}

	#comingsoon .newsletter,
	#home .newsletter {
		padding:0 0;
	}

	#comingsoon .lead,
	#home .newsletter .lead {
		font-style: italic;
		color:#fff;
		font-size: 18px;
	}
	#comingsoon .lead {
		letter-spacing: 0.09em;
		line-height: 38px;
	}
	#home .newsletter .form-control {
		background-color: rgba(255,255,255,0.3);
		border:none;
		min-width: 380px;
	}

	#home .newsletter .form-inline {
		margin: 20px auto 40px
	}

	#comingsoon .parallax-text-22,
	#home .parallax-text-22 {
		font-size: 48px;
		color:#ffffff;
		line-height: 70px;
		letter-spacing: 0.2em;
		font-family: Dosis;
		text-transform: uppercase;
	}
	.lead.dark-color,
	.parallax-text-22.dark-color {
		color:#030303 !important;
	}
	#comingsoon .parallax-text-22 {
		font-size: 60px;
		font-family: Abel;
	}

	.tagline h2 {
		font-size: 24px;
	}
	.grey {
		background-color: #f0f0f0;
	}
	.grey1 {
		background-color: #eae9e9; 
	}
	.grey.nopadding {
		padding-top:0;
	}
	.grey.nopadding #fourcol .box img {
	    padding: 25px 10px 0px;
	    width: 100%;
	}

	.grey.nopadding #fourcol .magnifier {
	    bottom: 0px !important;
	    left: 10px;
	    right: 10px !important;
	    top: 25px;
	}

	.grey.nopadding .btn-normal {
		background-color: #181818;
		border-color: #181818;
		color:#ffffff !important;
	}

	.grey .btn-normal {
		background-color: #ffffff;
		border-color: #ffffff;
	}
	.white {
		background-color: #ffffff;
	}
	.dark {
		background-color: #181818;
	}

	.dark .custom-title h2 {
		color:#fff;
	}

	.pattern {
		background: url(images/pattern.jpg) repeat left center;
	}
	.newsletter.pattern2 {
		background: url(images/pattern2.png) repeat left center #ffffff !important ;
	}

	.pattern2 .form-control {
		background-color: #eae9e9;
	}
	.pattern p {
		color:#a2a2a2 !important;
	}

	.pattern .count p {
		color:#ffffff !important;
	}

	.border-top {
		border-top:1px solid #f0f0f0;
	} 

	.nopaddingbottom {
		padding-bottom: 0 !important;
	}

	.nopadding .portfolio-filter {
		padding-top: 0 !important;
		margin: 80px 0 40px !important;
	}

	.parallax {
		padding:155px 0;
		position: relative;
		display: block;
		z-index: 10;
		overflow: hidden;
		margin: 0;
	    background: transparent;
	}

	.parallax.light .custom-title h2,
	.parallax.light .count p {
		color:#ffffff;
	}

	.parallax.little-padding {
		padding:140px 0 !important;
	}

	.line {
		margin: 40px 0;
		display: block;
		position: relative;
	}
	.line1 {
		margin: 30px 0;
		display: block;
		position: relative;
	}

	.services-1 i {
		color:#030303;
		font-size: 38px;
	}

	.services-1 h4 {
		font-size: 18px;
		padding:0;
		margin: 12px 0;
		letter-spacing: 2px;
	}

	.why-us-right,
	.why-us {
	    background: #eae9e9;
	    margin: 30px 0;
	    padding: 10px 30px;
	    cursor: pointer;
	    letter-spacing: 0.4px;
	    border-radius: 5px;
	    position: relative;
	}

	.why-us-right h4,
	.why-us h4 {
		letter-spacing: 2px;
		font-size: 18px !important;
		padding-bottom: 0 !important;
		margin-bottom: 5px !important;
	}

	.why-us:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(250, 249, 249, 0);
		border-left-color: #eae9e9;
		border-width: 15px;
		margin-top: -15px;
	}
	.why-us-right:after {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(250, 249, 249, 0);
		border-right-color: #eae9e9;
		border-width: 15px;
		margin-top: -15px;
	}
	.why-us-right i,
	.why-us i {
		width: 53px;
		height: 53px;
		line-height: 53px;
		border-radius: 3px;
		margin-top: 33px;
		text-align: center;
		color:#030303;
		font-size: 24px;
		background-color: #ffffff;
	}
	.contact-details .why-us-right:after {
		display: none;
	}
	.contact-details.portfolio-details h4 {
		padding-top: 20px;
	}
	.contact-details.portfolio-details i {
		margin-top: 25px !important;
		font-size: 24px !important;
		margin-right: 15px !important;
	}
	.mapsection {
		background: url(upload/map.jpg) no-repeat center center #fff;
	}
	.mapsection h2 {
		letter-spacing: 1.2em;
		font-size: 18px;
		color:#030303;
		cursor: pointer;
		line-height: 24px;
	}
	.contact-details .why-us-right {
	    background-color: #ffffff !important;
	    border: 1px solid #eae9e9;
	    margin: 0 0 20px;
	    padding: 0 30px;
	}
	.contact-details .why-us-right i {
		font-size: 34px;
		margin-right: 35px;
	}
	.contact-details .why-us-right:hover i {
		background-color: #ffffff !important;
	}

/* ----------------------------------------------------
	MODULES	
------------------------------------------------------- */ 

	.pricing-box i {
		color:#030303;
		margin: 60px 0 30px;
		font-size: 44px;
	}
	.pricing-box {
		cursor: pointer;
		background-color: #fff;
	}

	.pricing-box hr {
		margin-bottom: 0 !important
	}

	.pricing-box .pricing-box-bottom,
	.pricing-box {
		background-color: #eae9e9;
	}

	.pricing-box:hover,
	.pricing-box.dark {
		background-color: #030303;
	}

	.pricing-box:hover ul li,
	.pricing-box:hover h2,
	.pricing-box:hover h3,
	.pricing-box:hover i,	
	.pricing-box.dark ul li,
	.pricing-box.dark h2,
	.pricing-box.dark h3,
	.pricing-box.dark i {
		color:#fff;
	}
	.pricing-box ul {
		list-style: none;
		padding:0 0 15px;
	}
	.pricing-box ul li {
		margin: 15px 0
	}

	.pricing-box h2 sub {
		font-size: 18px;
	}
	.pricing-box h2 {
		font-size: 48px;
		margin:0;
		letter-spacing: 0.1em;
		padding: 0;
		color:#030303;
	}
	.pricing-box h3 {
		font-size: 18px;
		letter-spacing: 0.1em;
		color:#030303;
	}

	.pricing-box-bottom h3, .pricing-box-bottom h3 a {
	    color: #030303;
	    font-size: 18px;
	    letter-spacing: 0.1em;
	    line-height: 50px;
	    margin-top: 0;
	    padding-bottom: 10px;
	    padding-top: 10px;
	    text-transform: uppercase;
	}

	.panel-heading h3 i {
	    background-color: #030303 ;
	    color: #ffffff;
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    border-radius: 30px;
	    letter-spacing: 0;
	    margin: 0 15px 0 15px;
	    text-align: center;
	    width: 30px;
	    vertical-align: middle;
	}
	.panel-heading h3 {
	    display: inline-block;
	    font-size: 18px;
	    letter-spacing: 0.1em;
	    line-height: 32px;
	  	font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	    color:#383c4b;
	    margin: 0;
	    padding: 0;
	}
	.panel-group .panel + .panel {
		margin:-2px 0;
	}
	.panel-title {
	    line-height: 16px;
	}
	.panel-heading {
	    background-color: #fff;
	    border-radius: 0 !important;
	    padding: 14px 15px;
	}

	.accordion-toggle-2 .panel-heading {
	    background-color: #fff;
	    border: 1px solid #f3f3f3;
	}

	.accordion-toggle-2 .panel:last-child {
		border-bottom:0;
	}
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
	    border-top: 0 none;
	}
	.panel p {
	    padding-bottom: 0;
	}
	.panel-default {
	    border-color: #f5f5f5;
	    border-radius: 0 !important;
	    box-shadow: none;
	    margin-bottom: 10px !important;
	    background-color: #eae9e9;
	}

	.panel-body {
		background-color: #eae9e9;
		border-color: #eae9e9;
	    padding:20px 30px;
	}
	#countdown1 {
		margin-bottom: 60px;
	}
	.ClassyCountdown-wrapper > div {
	    display: inline-block;
	    position: relative;
	    width: calc(17% - 20px);
	    margin: 20px;
	}

	.ClassyCountdown-wrapper .ClassyCountdown-value {
	    width: 100%;
	    line-height: 1em;
	    position: absolute;
	    top: 50%;
	    text-align: center;
	    left: 0;
	    display: block;
	}

	.tab-pane h3 {
		font-size: 30px !important;
		padding:0 0 20px !important;
		text-transform: none;
		text-align: center;
	}

	#customtab i {
		font-size: 52px;
	}

	#customtab .nav-tabs > li a {
		border:0 !important;
		color:#dfdfdf;
		background: none !important;
		background-color: transparent !important;
	}
	#customtab .nav-tabs {
		border-bottom: 0 !important;
	}
	#customtab .nav-tabs > li{
	    float:none;
	    border:0 !important;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	     zoom:1; /* hasLayout ie7 trigger */
	}

	#customtab .nav-tabs {
	    text-align:center;
	}

	.nav-tabs {
	    border-bottom: 0 none;
	    padding: 0;
	}

	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li > a {
	    border-radius: 0 !important;
	    border-color:#f0f0f0 !important;
	    letter-spacing: 0.1em;
	    font-size: 14px;
	    text-transform: none !important;
	    color: #030303 !important;
	}

	.tab-content {
	    border: 1px solid #f0f0f0;
	    padding: 20px;
	}

	.tab-content p {
		padding-bottom: 20px;
	}

	#customtab 	.tab-content {
	    border: 0 solid #dedfe1;
	    padding: 20px;
	}

	.tab-pane .media-body h3 {
		text-align: left;
		font-size: 18px !important;
		padding-bottom: 0 !important; 
	}


	.testi-item img {
		width: 67px;
		margin-top: 20px;
	}
	.testi-item h4 {
		color:#ffffff;
		font-size: 18px;
		letter-spacing: 1px;
		padding-bottom: 0;
		padding-top: 20px;
		padding-top: 6px;
		margin-bottom: 0;
	}
	.white .owl-custom .owl-controls .owl-dot span {
		border-color:#e9e9e9;
	}
	.white .testi-item p {
		color:#535353;
	}

	.white .testi-item small,
	.white .testi-item h4 {
		color: #030303
	}
	.testi-item small {
		font-size: 14px;
		font-style: italic;
	}
	.testi-item p {
		letter-spacing: 3px;
		font-size: 18px;
		font-style: italic;
		color:#ffffff;
		line-height: 40px;
	}
	.count p {
		font-size: 36px;
		color:#030303;
		font-weight: bold;
		padding-bottom: 0;
	}
	.slider-carousel p {
		letter-spacing: 1px;
		font-style: italic;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.slider-carousel h2 {
		font-size:30px;
		letter-spacing: 2px;
	}
	
	.count span {
		font-style: italic;
	}
	.custom-module p {
	    margin: 0;
	    padding: 30px 0 0;
	}

	.images-container img {
		width: auto;
		margin: 0;
	}
	.image-center img {
		width: auto;
		margin: 0 auto;
	}
	.images-container .holder1 {
	    left: 52%;
	    position: absolute;
	    top: 53%;
	    width:150px;
	}
	.images-container .holder2 {
	    left: 19%;
	    position: absolute;
	    top: 30%;
	    width:150px;
	}
	.images-container .holder3 {
	    left: 68%;
	    position: absolute;
	    top: 81%;
	    width:150px;
	}
	a.plus-x {
	    background-color: #030303;
	    background-position: center center;
	    background-repeat: no-repeat;
	    border: 5px solid #dfdfdf;
	    border-radius: 100%;
	    display: block;
	    height: 20px;
	    outline: 0 none;
	    position: absolute;
	    width: 20px;
	}
	.readmore-icon:hover, a.plus-x:hover {
	    background-color: #313131;
	}

	.tooltip-inner {
		color:#030303 !important;
		text-transform: none !important;
		font-size: 14px !important;
		font-style: italic;
		border-radius: 0 !important;
		padding:15px 25px !important;
	}

	.tooltip.left .tooltip-arrow {
		display: none !important
	}
	.lead {
	    font-size: 18px !important;
	    line-height: 40px;
	    margin-bottom: 20px;
	    color: #535353;
	}
	.tooltip.left:after {
		left: 97%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-left-color: #88b7d5;
		border-width: 7px;
		margin-top: -7px;
	}

	.module-wrapper {
		margin-top: 60px;
	}
	.btn-wrapper {
		margin-top: 40px;
	}

	.btn {
		text-transform: uppercase;
		font-size: 13px;
		color:#030303;
		letter-spacing: 1px;
		border-radius: 2px;
	}
	
	.btn-normal {
		background: #f0f0f0;
		padding: 13px 30px 12px !important;
		line-height: 1 !important;
	}

	.home-message .btn-normal {
		background: #ffffff;
	}

	.tagline .btn-wrapper {
		margin-top: 30px !important
	}

	.home-message .btn-normal.btn-primary,
	.btn-primary {
		background-color: #030303;
		border-color:#030303;
		color:#fff;
	}
	.icongrid {
	    background: #f9f9f9;
	    float: left;
	    font-size: 14px;
	    line-height: 36px;
	    margin-bottom: 5px;
	    margin-right: 1%;
	    padding: 10px 0 6px 3%;
	    width: 49%;
	}
	.signature {
		margin-left: 40px;
	}

	.custom-module h2 {
		padding-top: 0 !important;
		margin-top:0 !important;
	}

	.custom-title .btn {
		margin-top: 10px;
	}

	.custom-title h2 {
		letter-spacing: 2px;
		padding-top: 0 !important;
		margin-top:0 !important;
	}
	.custom-title p {
		letter-spacing: 1px;
		font-style: italic;
		color:#535353;
		padding-bottom: 0;
	}
	.custom-module ul {
		padding:30px 0 0;
		list-style: none;
	}
	.custom-module li i {
		padding-right: 10px;
	}
	.custom-module li {
		margin-bottom: 5px;
	}

	.skills {
	    display: block;
	    overflow:hidden;
	    position: relative;
	}
	.skills p {
	    color: #030303;
	    font-size: 14px;
	    letter-spacing: 2px;
	    margin-left: 0;
	    padding-bottom: 0;
	    text-transform: uppercase;
	}
	.progress {
		height: 2px;
		background-color: #f0f0f0;
		border-radius: 0;
		margin: 0;
		box-shadow:none;
	}

	.progress-bar {
		float: left;
		width: 0%;
		height: 100%;
		overflow:visible;
		font-size: 12px;
		line-height: 20px;
		color: #ffffff;
		text-align: center;
		background-color: #030303;
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		-webkit-transition: width 1.1s ease;
		-o-transition: width 1.1s ease;
		transition: width 1.1s ease;
	}

	.progress {
		overflow:initial;
		position: relative;
	}

	.progress .progress-bar {
		position: absolute;
		z-index:10;
		line-height: 20px;
	}

	.progress .progressbar-back-text {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}

	.progress .progressbar-front-text {
		width: 100%;
		font-size: 12px;
		line-height: 20px;
	}

	.progress-bar span {
		color: #030303 !important;
		display: block;
		font-size: 14px;
		overflow: visible;
		text-align:center;
		position: absolute;
		right: 0;
		top: -20px;
		z-index: 9999;
	}
	.btn-normal:hover,
	.btn-normal:focus {
		color:#030303 !important;
	}

	#message {
		display: none; 
		position:relative; 
		text-align:left; 
		padding:20px;
	}

	#map{
		height:607px;
		width:100%;
		position: relative;
		z-index: 10;
	}

	#backto {
		position: relative !important;
		display: block;
		z-index: 99
	}
	.backtotop {
	    background-color: #030303;
	    bottom: auto;
	    display: block;
	    height: 76px;
	    border-radius: 5px;
	    line-height: 76px;
	    text-align: center;
	    color: #030303;
	    left: 0;
	    margin: -36px auto;
	    position: absolute;
	    font-size: 18px;
	    right: 0;
	    top: auto;
	    width: 47px;
	    cursor: pointer;
	    z-index: 100;
	}
	#map img{
		max-width:inherit
	}

	.map{
		position:relative
	}

	.map .row{
		position:relative
	}

	.infobox img {
		width:100% !important;
	}

	.map .searchmodule {
		padding:18px 10px
	}

	.infobox {
		display: inline-block;
		padding: 5px;
		position: relative;
		width: 270px;
	}

	.infobox img {
		width:80px !important;
		padding-right:10px
	}

	.infobox .title {
		font-size:13px;
		font-weight:bold;
		margin-top:0;
		margin-bottom:0;
		text-transform:uppercase;
		padding-bottom:5px;
	}

	.infobox .title a {
		font-weight:bold;
		color:#242424 !important;
	}

/* ----------------------------------------------------
	HEADER	
------------------------------------------------------- */ 

	.topbar {
		padding:10px 0;
		background-color: #030303;
	}
	.topbar a,
	.topbar span {
		color:#535353;	
		font-size: 14px;	
		padding:0;
		margin:0;
		font-weight: 400 !important;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.topbar span {
		margin-right: 5px;
		margin-left: 15px;
	}

	.topbar .text-right span {
		margin-right: 0;
		margin-left: 25px;
	}
	.topbar i {
		padding: 0 3px;
		color:#535353;	
		font-size: 14px;
	}

	.topbar .dropdown-menu li a {
	    background-color: #030303 !important;
	    border-color: #030303 !important;
	    color:#535353;
	}
	.topbar .dropdown-menu {
	    border-radius: 0;
	    box-shadow: none;
	    text-transform: none;
	    min-width: 80px;
	    text-align: center;
	}

	#searchform {
		display: inline-block;
	}

	.dm-search-container {
		position: absolute;
		right: 0;
		height: 35px;
		width: 0;
		overflow: hidden;
		-webkit-transition: width 200ms;
		-moz-transition: width 200ms;
		transition: width 200ms;
	}
	.dmsearch.dmsearch-open .dm-search-container {
		width: 220px;
	}

	input[type="submit"].dmsearch-submit  {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1000;
		text-align: center;
		cursor: pointer;
	}
	.dmsearch.dmsearch-open .searchicon{
		z-index: -1;
		pointer-events: none;
	}
	input[type="submit"].dmsearch-submit {
		background: transparent;
		color: transparent;
		box-shadow: none;
		border: none;
		padding: 0;
		border-radius: 0;
		outline: none;
		z-index: -1;
	}
	.dmsearch.dmsearch-open input[type="submit"].dmsearch-submit {
		z-index: 90;
	}
	input[type="text"].dmsearch-input {
		border: none;
		outline: none;
		opacity: 0;
		position: relative;
		display: block;
		z-index: 999;
	    background-color: #030303 !important;
	    border:1px solid #030303 !important;
		font-size: 12px;
		width: 220px;
		color:#535353;	
		font-size: 14px;	
		font-weight: 400 !important;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		margin: 0;
		padding:0 0 0 13px;
	}
	.dmsearch.dmsearch-open input[type="text"].dmsearch-input {
		opacity: 1;
	}
	::-webkit-input-placeholder {
		color: #babbbe;
	}
	:-moz-placeholder {
		color: #babbbe;
	}
	::-moz-placeholder {
		color: #babbbe;
	}
	:-ms-input-placeholder {
		color: #babbbe;
	}

	/*!
	 * Yamm!3 - Yet another megamenu for Bootstrap 3
	 * http://geedmo.github.com/yamm3
	 * 
	 * @geedmo - Licensed under the MIT license
	 */
	.yamm .nav,
	.yamm .collapse,
	.yamm .dropup,
	.yamm .dropdown {
	  position: static;
	}
	.yamm .container {
	  position: relative;
	}
	.yamm .dropdown-menu {
	  left: auto;
	}
	.yamm .yamm-content {
	  padding: 30px 30px;
	}
	.yamm .dropdown.yamm-fw .dropdown-menu {
	  left: 0;
	  right: 0;
	}

	.yamm-content ul {
		list-style: none;
		padding:0;
	}
	.yamm-content ul li {
		padding: 5px 0
	}

	.yamm-content ul li em {
		font-size: 18px;
	}

	.dropdown-menu {
		box-shadow: none;
		border-color:#030303;
		background-color: #030303;
		border-radius: 0;
	}

	.yamm-content h4 {
		color:#ffffff;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.10em !important; 
	}
	.dropdown-menu li a {
		color:#ffffff;
	}

	.yamm-half ul {
		min-width: 220px;
	}
	.yamm-drop ul {
		min-width: 180px;
	}

	#header {
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
	}

	#header.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
		border-color:#030303;
		background-color: #030303;
	}

	body.withborder #header.affix {
		top:30px !important;
	}

	#header.affix .transparent-header { 
		border-color:#030303;
		background-color: #030303;
	}

	.transparent-header {
		position: absolute;
		top:50px;
		right: 0;
		padding:15px 0;
		z-index: 100;
		left:0;
	}

	.normal-header {
		position: relative;
		top:0;
		right: 0;
		padding:20px 0;
		z-index: 100;
		left:0;
		background-color: #ffffff;
	}

	.dark-background { 
		border-color:#030303;
		background-color: #030303;
	}

	.normal-header .navbar-nav > li > .dropdown-menu {
		margin-top: 20px;
	}

	.normal-header .navbar-default .navbar-nav > .open > a, 
	.normal-header .navbar-default .navbar-nav > .open > a:hover, 
	.normal-header .navbar-default .navbar-nav > .open > a:focus {
		background-color: #ffffff;
	}

	.topbar .container-fluid,
	.normal-header .container-fluid,
	.transparent-header .container-fluid {
		max-width: 1380px
	}

	.nav,
	.navbar,
	.navbar-nav {
		margin-bottom: 0 !important;
	}

	.navbar-default {
		border-radius: 0;
		border:0;
		background-color: transparent;
	}
	.nav > li > a {
	    display: block;
	    padding: 10px 15px;
	    position: relative;
	    font-size: 14px;
	    text-transform: uppercase;
	    padding: 15px 25px;
	}

	.navbar-nav > li > .dropdown-menu {
		margin-top: 15px;
	}

	.transparent-header .nav > li > a { 
		color:#ffffff;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		background-color: transparent;
	}
	
	.normal-header.dark-color .social i,
	.normal-header.dark-color .nav > li > a { 
		color:#909090;
	}

	.normal-header.dark-color .nav > li > a:hover,
	.transparent-header.dark-color .social i,
	.transparent-header.dark-color .nav > li > a { 
		color:#030303;
	}

	#header.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
		border-color:#030303;
		background-color: #030303;
	}

	#header.affix.dark-color { 
		border-color:#ffffff !important;
		background-color: #ffffff !important;
	}

/* ----------------------------------------------------
	BLOG PAGE
------------------------------------------------------- */ 

	.comment-wrapper .blog-title h2 {
		letter-spacing: 0.2em;
		font-size: 30px;
	}
	.comment-list .media {
		margin-bottom: 30px;
	}
	.media.reply-comment {
		margin-left: 60px;
	}
	.comment-list {
		margin-top: 30px;
	}
	.comment-list span {
	    display: block;
	    font-size: 14px;
	    line-height: 1;
	    margin:10px 0 15px;
	    font-style: italic;
	    font-weight: 300;
	}
	.comment-list h3 {
	    font-size: 24px;
	    text-transform: none;
	    margin: 0;
	    letter-spacing: 0.2em;
	    padding: 0;
	}
	.comment-list img {
		width: 80px;
		margin-right: 30px;
	}

	#loginbox3 hr,
	#loginbox hr {
		margin-top:30px;
		margin-bottom: 30px;
		border-color: #f3f3f3;
	}
	#loginbox3 .padding-left,
	#loginbox .padding-left {
		padding-left: 200px;
		margin-top:-10px;
	}

	#loginbox3 .panel-info > .panel-heading,
	#loginbox .panel-info > .panel-heading {
	    background-color: #faf9f8;
	    border-color: #f3f3f3;
	    color: #030303;
	}
	#loginbox3 .form-control,
	#loginbox .form-control {
		height: 45px;
		border-radius: 10px;
		margin:10px 0 0;
	}
	#loginbox3 .panel,
	#loginbox .panel {
		box-shadow: none;
		border-color: #f3f3f3 !important;
	}

	#loginbox3 .panel-body,
	#loginbox .panel-body {
		background-color: #fff;
		border-color:#f3f3f3;
	}

	#loginbox3 .input-group-addon,
	#loginbox .input-group-addon {
		min-width: 200px;
		background-color: #fff;
		border-color: #fff;
		text-align: left;
	}

	#loginbox3 .input-group-addon i,
	#loginbox .input-group-addon i {
		color:#030303;
		background-color: #eae9e9;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 30px;
		text-align: center;
		font-size: 14px
	}
	.pageheader h4 {
		font-size: 30px;
		color:#fff;
		letter-spacing: 0.1em;
	}

	.pageheader .lead {
	    color: #fff;
	    font-size: 18px !important;
	    font-style: italic;
	    letter-spacing: 0.1em;
	    line-height: 40px;
	    margin-bottom: 0;
	    padding: 0;
	}
	.breadcrumb {
	    background-color: transparent;
	    border-radius: 0;
	    list-style: outside none none;
	    margin-bottom: 0;
	    margin-top: 20%;
	    padding: 0;
	}
	.breadcrumb > li + li:before {
	  padding: 0 10px 0 5px;
	  font-family: FontAwesome;
	  color: #ccc;
	  content: "\f105";
	}
	.breadcrumb > li a,
	.breadcrumb > .active,
	.breadcrumb > li {
	    font-size: 14px;
	    color:#fff;
	}

	.pageheader {
		position: relative;
		display: block;
		background-color: #030303;
		padding:60px 0;
	}
	.pageheader.lighthead {
		background-color: #eae9e9;
	}

	.pageheader.lighthead h4,
	.pageheader.lighthead .lead,
	.pageheader.lighthead .breadcrumb > .active,
	.pageheader.lighthead .breadcrumb > li,
	.pageheader.lighthead .breadcrumb > li a {
		color: #030303 !important;
	}
	.pagination > li:last-child > a, 
	.pagination > li:last-child > span
	.pagination > li:first-child > a, 
	.pagination > li:first-child > span {
	    border-radius: 7px;
	}

	.pagination > li > a, 
	.pagination > li > span {
	    letter-spacing: 0;
	    padding: 15px 15px;
	    border-radius: 7px;
	    text-decoration: none;
	    background-color: #eae9e9 ;
	    text-transform: uppercase;
		border: 1px solid #eae9e9;
		margin:0 3px;
	    color: #030303 !important;
	    font-size: 14px;
	    font-weight: bold;
	}

	.grey1 .pagination > li > a, 
	.grey1 .pagination > li > span {
	    background-color: #fff ;
	}

	.pagination > li > a:hover, 
	.pagination > li > span:hover {
		background-color: #030303;
		border-color: #030303;
		color:#fff !important;
	}

	.blog-meta a,
	.blog-meta {
		font-style: italic;
		color:#535353 !important;
		padding:20px 0 0;
	}

	.blog-title h4,
	.blog-title h4 a {
		letter-spacing: 2px;
		padding:0 0 5px;
		color:#030303 !important;
		font-size: 18px;
	}

	.blog-title h4 a:hover {
		color:#030303 !important;
	}

	.blog-wrapper {
		display: block;
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}

	.blog-wrapper .blog-image {
		margin-bottom: 10px;
	}

	.blog-wrapper .blog-title h4 {
		font-size: 30px;
		letter-spacing: 0.2em;
	}

	.blog-wrapper .blog-title h4 a {
		color:#030303;
	}

	.blog-image img {
		width: 100%;
	}

	.quote_post .lead {
		font-size: 14px;
		letter-spacing: 0;
		margin-bottom: 0;
		line-height: 26px;
		color:#fff;
		font-style: italic;
	}
	.quote_post{
		padding:30px;
		position: relative;
		display: block;
	}
	.quote_post i {
		padding: 15px 20px 30px;
		font-size: 26px;
	}
	.quote_post small {
		font-size: 14px;
		font-family: Abel;
		letter-spacing: 0.2em;
	}

	#blogmasonry .box {
		padding:15px 15px 30px;
		margin-bottom: 15px;
		border-bottom: 1px solid #f0f0f0;
		text-align: left;
	}

	.widget {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	
	.widget-title h3 {
	    font-size: 24px;
	    letter-spacing: 0.1em;
	    line-height: 70px;
	    margin-top: 0;
	    padding-top: 0;
	}
	.widget-image {
		margin-bottom: 30px;
	}

	.tagcloud a {
		background-color: #f0f0f0;
		color:#535353;
		font-size: 14px;
		margin:0 2px 8px 0;
		display: inline-block;
		line-height: 28px;
		padding:2px 10px;
		border-radius: 5px;
	}

	.tagcloud a:hover {
		background-color: #030303;
		color:#ffffff;
	}

	.grey1 .pull-right .btn,
	.widget .btn-normal {
		width: 100%;
		background-color: #ffffff;
		text-align: left;
		text-transform: none;
		letter-spacing: 0.1em;
		border-color:#f0f0f0;
	}

	.grey1 .pull-right .btn {
		background-color: #eae9e9 !important;
	}

	.grey1 .dropdown-menu,
	.widget .dropdown-menu {
		width: 100%;
	}

	.grey1 .pull-right i,
	.widget .btn-normal i {
		vertical-align: super;
	}
	.grey1 .pull-right .btn {
		background-color: #ffffff;
	}
	.widget .social a {
		font-size: 34px;
		color:#535353;
		margin-right: 7px;
		border-color:#535353;
	}

	.best-seller-widget,
	.news-widget {
		padding: 0;
		list-style: none;
	}

	.best-seller-widget li,
	.news-widget li {
		margin-bottom: 20px;
	}

	.best-seller-widget li img {
		width: 60px !important;
	}

	.best-seller-widget li .blog-title h4 a,
	.best-seller-widget li .blog-title h4 {
	    color: #030303 !important;
	    font-size: 15px;
	    letter-spacing: 0.2em;
	    font-weight: 500;
	    line-height: 30px;
	    background-color: transparent !important;
	    text-transform: none;
	    padding: 10px 0 15px;
	}

	.news-widget li .blog-meta a, 
	.news-widget li .blog-meta {
		padding:0;
	}

	.news-widget li .blog-title h4, 
	.news-widget li .blog-title h4 a  {
	    color: #030303 !important;
	    font-size: 14px;
	    letter-spacing: 0.1em;
	    font-weight: 500;
	    line-height: 1;
	    padding: 0 0 5px;
	}

	.widget ul {
		padding: 0;
		list-style: none;
	}

/* ----------------------------------------------------
	FOOTER	
------------------------------------------------------- */ 

	.footer {
		padding:160px 0;
		position: relative;
		display: block;
		z-index: 10;
		overflow: hidden;
		margin: 0;
	}

	.footer p {
		letter-spacing: 2px;
		color:#4f4f4f;
		padding:0;
		margin: 0;
		font-style: normal;
	}

	.footer.light .contact-details p {
		display: table;
	}

	.footer .social {
		margin: 60px 0
	}

	.footer.light .contact-details .why-us-right {
		padding:30px 15px;
	}

	.footer.light .contact-details .why-us-right i {
		margin-top: 15px;
	}

	.header .social i {
	    color: #fff;
	    font-size: 26px;
	    margin: 10px 0 0 10px;
	}

	.footer i {
		color:#4f4f4f;
		font-size: 38px;
		margin: 0 12px;
	}
	.footer.dark {
		background-color: #131313 !important;
	}

	.footer.light {
		background-color: #ffffff !important;
	}

/* ----------------------------------------------------
	SLIDESHOW
------------------------------------------------------- */

	.parallax-text2 {
	    top:47%;
	    margin:-20px auto;
	    left:0;
	    width: 100%;
	    right:0;
	    position: absolute;
	}
	.raindropfix {
		overflow: hidden;
	}
	#raindrop_holder{
	    position:absolute;
	    left:0;
	    right:0;
	    top:0;
	    bottom:0;
	    z-index:0;
	    background-color:#fff
	}

	#canvas{
	    position:absolute;
	    width:100% !important;
	    height:100% !important;
	    top:0;
	    z-index: -1;
	    left:0
	}

	.raindropfix .relative {
		position: relative;
		z-index: 9999 !important;
	}

	.home-message img {
		margin: 0 auto 60px
	}
	.slider-section {
		z-index: 1;
		position: relative;
	}

	.parallax-text-2 {
		margin-bottom: 60px !important;
	}

	.slider_text_radius,
	.tp-caption.slider_text_radius,
	.tp-caption.slider_07,
	.slider_07,
	.tp-caption.slider_10,
	.slider_10,
	.parallax-text-4,
	.parallax-text-8,
	.parallax-text,
	.slider_01,
	.slider_04,
	.slider_06,
	.tp-caption.slider_04,
	.tp-caption.slider_06,
	.tp-caption.slider_01 {
		color:#ffffff;
		text-shadow:none;
		font-weight:300;
		font-size:60px;
		line-height:70px;
		letter-spacing:0.2em;
		text-transform: uppercase;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding:0px 20px;
	}
	.slider_text_radius,
	.tp-caption.slider_text_radius {
		font-size: 36px;
		border:2px solid #ffffff;
		width: 87px;
		height: 87px;
		font-weight: 400;
		line-height: 85px;
		border-radius: 100%;
	}
	.slider_04 {
		font-size: 80px;
	}
	.parallax-text-4 {
		font-size: 70px;
		line-height: 100px;
		letter-spacing: 0.4em;
	}
	.parallax-text-8 {
		font-size: 60px;
		line-height: 70px;
		letter-spacing: 0.3em;
		color:#030303;
	}
	.parallax-text-2 {
		font-size: 30px;
		color:#030303;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.parallax-text-11 {
		font-size: 36px;
		margin-top: 20px;
		line-height: 70px;
		color:#fff;
		letter-spacing: 0.5em;
		text-transform: uppercase;
	}
	.parallax-text-9 {
		font-size: 36px;
		line-height: 36px;
		margin-top: 40px;
		color:#030303;
		letter-spacing: 0.5em;
		text-transform: uppercase;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.parallax-text-10 {
		font-size:14px;
		line-height: 30px;
		color:#030303;
		font-style: italic;
		text-transform: none;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.slider_creative_01,
	.tp-caption.slider_creative_01 {
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-size: 24px;
		color:#ffffff;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	.slider_creative_02,
	.tp-caption.slider_creative_02 {
		font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 72px;
		color:#ffffff;
		letter-spacing: 0.2em;
	}

	.btn-video.light-color {
		border-color:#ffffff !important;
		color:#ffffff !important;
		margin-bottom: 40px;
	}
	.parallax-text-8.light-color {
		color:#ffffff !important;
	}
	.parallax-text-10.light-color,
	.parallax-text-9.light-color {
		color:#ffffff !important;
	}

	.parallax-text-10.light-color {
		letter-spacing: 0.2em;
	}

	.general-text h1 {
		color:#ffffff;
		text-shadow:none;
		font-size:90px;
		line-height:70px;
		margin-left: 3px;
		letter-spacing:0.2em;
		text-transform: uppercase;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.general-content .btn-wrapper {
		margin-left: 15px;
	}

	.general-text p {
		color:#ffffff;
		text-shadow:none;
		font-style: italic;
		font-weight: normal;
		font-size:18px;
		margin-left: 15px;
		margin-top: 30px;
		text-transform: none;
		line-height:32px;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.slider_09,
	.tp-caption.slider_09,
	.slider_08,
	.tp-caption.slider_08,
	.slider_05,
	.tp-caption.slider_05,
	.parallax-text-3,
	.slider_02,
	.tp-caption.slider_02 {
		color:#ffffff;
		text-shadow:none;
		font-style: italic;
		font-weight: normal;
		letter-spacing: 1px;
		font-size:18px;
		line-height:38px;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.slider_07,
	.tp-caption.slider_07 {
		font-size: 90px;
		text-transform: uppercase;
		font-style: normal;
	}
	.slider_06,
	.tp-caption.slider_06 {
		font-size: 70px;
	}

	.tp-caption.slider_10,
	.slider_10 {
		letter-spacing: 0.5em !important;
		font-size: 36px;
	}
	.slider_09,
	.tp-caption.slider_09 {
		font-size: 14px;
	}
	.slider_06,
	.tp-caption.slider_06,
	.slider_05,
	.tp-caption.slider_05 {
		color:#030303;
	}

	.slider_layer_01,
	.tp-caption.slider_layer_01 {
		color:#0b0b0b;
		text-shadow:none;
		letter-spacing: 0.25em;
		padding:0 30px;
		text-transform: uppercase;
		font-size:36px;
		line-height:70px;
		background-color: #ffffff;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.tp-caption.slider_11,
	.slider_11 {
		font-size: 60px !important;
	}

	.size60,
	.tp-caption.size60 {
		font-size: 60px;
		line-height: 105px;
		letter-spacing: 0.2em;
		padding:20px;
	}
	.slider_12,
	.tp-caption.slider_12 {
		color:#ffffff;
		text-shadow:none;
		letter-spacing: 0.4em;
		padding:0 30px;
		text-transform: uppercase;
		font-size:36px;
		line-height:90px;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.slider_layer_02,
	.tp-caption.slider_layer_02 {
		color:#0b0b0b;
		text-shadow:none;
		letter-spacing: 0.25em;
		padding:0 30px;
		text-transform: uppercase;
		font-size:24px;
		line-height:70px;
		background-color: #ffffff;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.slider_layer_03,
	.tp-caption.slider_layer_03 {
		color:#030303;
		text-shadow:none;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		font-size:30px;
		line-height:70px;
		font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.slider_layer_03 hr,
	.tp-caption.slider_layer_03 hr {
		border-width: 3px;
		width: 75px;
		margin:0 0 20px;
	}
	.slider_layer_04,
	.tp-caption.slider_layer_04 {
		color:#030303;
		text-shadow:none;
		font-size:14px;
		font-style: italic;
		line-height:70px;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}	.parallax-text-3 {
		margin-top:40px;
	}
	.tp-caption.slider_02.darkbg,
	.slider_02.darkbg {
		background-color:#030303;
		background-color:rgba(3,3,3,0.9);
		color:#fff;
	}

	.slider_layer_03.size48 {
		font-size: 48px !important;
	}

	.slider_layer_04.size18 {
		font-size: 18px !important;
	}
	.tparrows.preview3,
	.tparrows.preview3::after{
		background-color:#030303;
		background-color:rgba(3,3,3,0.9);
		color:#fff !important;
		font-size: 21px !important
	}

	.tp-rightarrow.preview3 .tp-arr-iwrapper,
	.tp-leftarrow.preview3 .tp-arr-iwrapper {
		display: none !important;
	}

	.tp-caption.light-color,
	.tp-caption .btn-primary {
		color:#ffffff !important;
	}

	.boxedcontainer {
		max-width: 1170px; 
		margin:auto; 
		padding:0px 30px;
	}

	.tp-banner-container{
		width:100%;
		position:relative;
		padding:0;
		z-index: 999;
	}

	.tp-banner{
		width:100%;
		position:relative;
	}

	.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
	}

	.tp-bannertimer {
		display: none;
	}

	#home.slider-2 .tparrows.preview3, 
	#home.slider-2 .tparrows.preview3::after {
	    background-color: rgba(3, 3, 3, 0) !important;
	    border-radius: 100%;
	    color: #fff !important;
	    font-size: 21px !important;
	    border: 1px solid #fff;
	    width: 70px !important;
	    height: 70px !important;
	    line-height: 70px !important;
	}
	#home.slider-2 .tp-leftarrow  {
		left: 20px !important;
	}
	#home.slider-2 .tp-rightarrow  {
		right: 20px !important;
	}
	#home.slidesround .tp-leftarrow,
	#home.slidesquare .tp-leftarrow  {
		left: 60px !important;
	}
	#home.slidesround .tp-rightarrow,
	#home.slidesquare .tp-rightarrow  {
		right: 60px !important;
	}
	#home.slidesround .tparrows.preview3,
	#home.slidesquare .tparrows.preview3 {
		background-color: rgba(255, 255, 255, 0) !important;
	}
	#home.slidesquare .tparrows.preview3::after {
	    background-color: rgba(255, 255, 255, 1) !important;
	    color:#030303 !important;
		width: 45px;
		height: 45px;
		line-height: 45px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#home.slidesquare .tparrows.preview3:hover::after {
		background-color: #333333 !important;
		color:#ffffff !important;
	}

	#home.normalarrow .tparrows.preview3,
	#home.normalarrow .tparrows.preview3::after,
	#home.slidesround .tparrows.preview3::after {
	    background-color: rgba(255, 255, 255, 1) !important;
	    color:#030303 !important;
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 45px;
		font-size: 17px !important;
	}
	#home.normalarrow .tparrows.preview3::after {
		border-radius: 0;
	}

	body.withborder #home.normalarrow .tp-rightarrow,
	body.withborder #home.normalarrow .tp-rightarrow  {
		right: 30px !important;
	}
	body.withborder #home.normalarrow .tp-leftarrow,
	body.withborder #home.normalarrow .tp-leftarrow  {
		left:30px !important;
	}

	#home.slidesround .tparrows.preview3:hover::after {
		background-color: #333333 !important;
		color:#ffffff !important;
	}
	#superslides {
	    position: relative;
	}

	#superslides .slides-container {
	    display: none;
	}

	#superslides .scrollable {
	    *zoom: 1;
	    position: relative;
	    top: 0;
	    left: 0;
	    overflow-y: auto;
	    -webkit-overflow-scrolling: touch;
	    height: 100%;
	}

	#superslides .scrollable:after {
	    content: "";
	    display: table;
	    clear: both;
	}

	#superslides .slides-navigation {
	    margin: 0 auto;
	    position: absolute;
	    z-index: 3;
	    top: 50%;
	    margin-top:-20px;
	    width: 100%;
	}

	#superslides .slides-navigation a {
	    position: absolute;
	    display: block;
	    color:#fff;
	    background-color: rgb(44, 44, 44);
	    background-color: rgba(44, 44, 44, 0.6);
	}

	#superslides .slides-navigation a.prev {
	    left: 0;
	    width: 80px;
	    height: 80px;
	    text-align: center;
	    line-height: 84px;
	}

	#superslides .slides-navigation a.next {
	    right: 0;
	    width: 80px;
	    height: 80px;
	    text-align: center;
	    line-height: 84px;
	}

	#superslides .slides-pagination {
	    display: none;
	}
	.btn-video {
		border:2px solid #030303;
		color:#030303;
		background-color: transparent;
		border-radius: 100%;
		width: 75px;
		margin:0 10px 30px;
		height: 75px;
		font-size: 18px;
		line-height: 65px;
		text-align: center;
	}

	.custom-ads {
		position: relative;
	}
	.custom-ads h4 {
		position: absolute;
		top:50%;
		margin:-20px auto;
		left: 0;
		right: 0;
		z-index: 10;
		text-align: center;
		color:#ffffff;
		font-size: 24px;
		letter-spacing: 0.3em;
		font-weight: bold;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		line-height: 40px;
	}
	.custom-ads .lead {
		font-style: italic;
		font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

/* ----------------------------------------------------
	COLORS	
------------------------------------------------------- */ 

	.why-us:hover:after,
	.tooltip.left:after {
		border-left-color: #faf476;
	}
	.why-us-right:hover:after {
		border-right-color: #faf476;
	}
	.magnifier {
		background-color: rgba(250,244,118,0.9);
	}
	.lightmagnifier {
		background-color: rgba(255,255,255,0.9);
	}
	.darkmagnifier {
		background-color: rgba(3,3,3,1);
	}
	.home-message .btn-normal.btn-default,
	.backtotop,
	.background,
	.btn-normal:hover,
	.btn-normal:focus,
	.pricing-box:hover .pricing-box-bottom,
	.blog-title h4 a:hover,
	.owl-custom .owl-dots .owl-dot.active span, 
	.owl-custom .owl-dots .owl-dot:hover span,
	.why-us:hover,
	.why-us-right:hover,
	.teammembers:hover .teamdesc,
	.btn-default,
	.tooltip-inner,
	.readmore-icon:hover, a.plus-x:hover,
	mark {
		background-color: #faf476;
	}
	.accordion-toggle h3 .fa-exclamation {
		background-color: #faf476;
		color:#030303;
	}
	.slider_12 span,
	.tp-caption.slider_12 span,
	.slider_06 span,
	.tp-caption.slider_06 span,
	.header .social i:hover,
	.dropdown-menu li a:hover,
	.yamm-content ul li em,
	.quote_post small,
	.dropdown-menu li a.active,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus,
	.footer i:hover,
	.widget .social a:hover,
	#customtab .nav-tabs > li a:hover,
	#customtab .nav-tabs > li a:focus,
	#customtab .nav-tabs > li a.active,
	.testi-item small {
		color:#faf476;
	}

	#customtab .nav-tabs > li.active > a, 
	#customtab .nav-tabs > li.active > a:hover, 
	#customtab .nav-tabs > li.active > a:focus,
	.faqsfilter ul li a:hover {
		color:#faf476 !important;
	}

	.pricing-box:hover hr,
	.pricing-box.dark hr,
	.slider_layer_03 hr,
	.tp-caption.slider_layer_03 hr,
	.home-message .btn-normal.btn-default,
	.btn-normal:hover,
	.btn-normal:focus,
	.widget .social a:hover,
	#slider_carousel.owl-custom .owl-dots .owl-dot.active span, 
	#slider_carousel.owl-custom .owl-dots .owl-dot:hover span
	.owl-custom .owl-dots .owl-dot.active span, 
	.owl-custom .owl-dots .owl-dot:hover span,
	.white .owl-custom .owl-dots .owl-dot.active span, 
	.white .owl-custom .owl-dots .owl-dot:hover span,
	.btn-default {
		border-color: #faf476;
	}
	::selection {
		background: #faf476; /* Safari */
		color:#fff;
	}
	
	::-moz-selection {
		background: #faf476; /* Firefox */
		color:#fff;
	}

	.why-us:hover i,
	.why-us-right:hover i {
		background-color: #f1eb72;
	}

/* ----------------------------------------------------
	RESPONSIVE	
------------------------------------------------------- */

@media (max-width: 992px) {
	.yamm .nav,
	.yamm .collapse,
	.yamm .dropup,
	.yamm .dropdown {
	  position: relative;
	}
	.transparent-header { 
		top:0;
		border-color:#030303;
		background-color: #030303;
	}
	.transparent-header.dark-color { 
		border-color:#ffffff;
		background-color: #ffffff;
	}
	.yamm-half ul {
		min-width: 100%;
	}
	.yamm-drop ul {
		min-width: 100%;
	}
}

@media (max-width: 420px) {
	.home-message img {
		width: 100%;
	}
}

/* ----------------------------------------------------
	OTHERS	
------------------------------------------------------- */

	.btn-lg, 
	.btn-group-lg > .btn {
	    padding: 20px 66px !important;
	}

	.btn-sm, 
	.btn-group-sm > .btn {

	    padding: 10px 20px !important;
	}

	.btn-xs, 
	.btn-group-xs > .btn {
	    padding: 5px 15px !important;
	}

	#preloader {
	    background: #fff none repeat scroll 0 0;
	    bottom: 0;
	    display: block;
	    height: 100%;
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 0;
	    width: 100%;
	    z-index: 11000;
	}
	.preloader {
	    background: rgba(0, 0, 0, 0) none no-repeat scroll center center / 95px 95px;
	    border-radius: 50%;
	    height: 95px;
	    left: 1%;
	    margin: 0 auto;
	    position: absolute;
	    right: 1%;
	    top: 45%;
	    width: 95px;
	}
	#spinner {
	    animation: 0.75s linear 0s normal none infinite running rotation;
	    border-radius: 100%;
	    height: 95px;
	    margin: 0 auto -45px;
	    position: relative;
	    top: 45%;
	    width: 95px;
	}
	#spinner::before {
	    border-color: rgba(0, 0, 0, 1) transparent transparent;
	    border-radius: 100%;
	    border-style: solid;
	    border-width: 3px;
	    content: "";
	    display: block;
	    height: 100%;
	    left: -3px;
	    position: absolute;
	    top: -3px;
	    width: 100%;
	}
	@keyframes rotation {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(359deg);
	}
	}
	@keyframes rotation {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(359deg);
	}
	}
	#loader-wrapper {
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 10000;
	}
	#loader {
	    background-color: #000;
	    background-position: center center;
	    background-repeat: no-repeat;
	    display: block;
	    height: 12px;
	    left: 0;
	    margin: auto;
	    position: relative;
	    right: 0;
	    top: 50%;
	    width: 129px;
	    z-index: 10000;
	}
	#loader-wrapper .loader-section {
	    background: #0b0b0b none repeat scroll 0 0;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    transform: translateX(0px);
	    width: 51%;
	    z-index: 9999;
	}
	#loader-wrapper .loader-section.section-left {
	    left: 0;
	}
	#loader-wrapper .loader-section.section-right {
	    right: 0;
	}
	.loaded #loader-wrapper .loader-section.section-left {
	    transform: translateX(-100%);
	    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
	}
	.loaded #loader-wrapper .loader-section.section-right {
	    transform: translateX(100%);
	    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
	}
	.loaded #loader {
	    opacity: 0;
	    transition: all 0.3s ease-out 0s;
	}
	.loaded #loader-wrapper {
	    transform: translateY(-100%);
	    transition: all 0.3s ease-out 1s;
	    visibility: hidden;
	}
	.no-js #loader-wrapper {
	    display: none;
	}

/* ----------------------------------------------------
	BOXED	
------------------------------------------------------- */ 

	.boxed #wrapper {
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.boxed .container-boxed {
		max-width: 1280px;
		padding-left: 15px !important;
		padding-right: 15px !important
	}

	.pattern1 {
		background:url(images/pattern1.jpg) repeat center center #fff;
	}

	.pattern2 {
		background:url(images/pattern2.jpg) repeat center center #fff;
	}

	.pattern3 {
		background:url(images/pattern3.jpg) repeat center center #fff;
	}

	.pattern4 {
		background:url(images/pattern4.jpg) repeat center center #fff;
	}

	.pattern5 {
		background:url(images/pattern5.jpg) repeat center center #fff;
	}

	.pattern6 .container-boxed,
	.pattern5 .container-boxed {
		margin: 40px auto;
	}

	.pattern6 {
		background:url(images/pattern6.jpg) repeat center center #fff;
	}
	.pattern7 {
		background:url(images/pattern7.jpg) repeat center center #fff;
	}
	.pattern8 {
		background:url(images/pattern8.jpg) repeat center center #fff;
	}

